.about{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 30px;
}

.about h1{
    text-align: center;
    text-transform: capitalize;
    color: rgb(171, 87, 56);
    font-size: 1.9rem;
    font-weight: 700;
}

.about-container{
    align-items: flex-start;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.about-container p{
    font-size: 0.95rem;
    font-weight: 400;
}

.about-container h3{
    color: rgb(207, 77, 30);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}


@media(max-width: 1024px){
    .about{
        gap: 20px;
    }
    .about-container{
        width: 80%;
    }
    .about-container p{
        line-height: 1.5;
    }
}
@media(max-width: 768px){
    .about{
        gap: 10px;
    }
    .about-container{
        width: 85%;
    }
    .about-container p{
        line-height: 1.5;
        font-size: .8125rem;
    }
    .about h1{
        font-size: 1.5rem;
    }
}
@media(max-width: 425px){
    .about-container{
        width: 95%;
    }
    .about-container p{
        line-height: 1.5;
        font-size: .75rem;
    }
    .about-container h3{
        font-size: 1rem;
    }
    .about h1{
        font-size: 1.2rem;
    }
}