.return-and-refunds{
    width: 100%;
}

.return-and-refunds-content{
    width: 50%;
    margin: 20px auto;
    /* height: 20vh; */
}

.return-and-refunds-content h3{
    color: chocolate;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.return-and-refunds-content p{
    font-weight: 350;
    line-height: 1.5;
}

@media(max-width:768px){
    .return-and-refunds-content{
        width: 70%;
    }
    .return-and-refunds h3{
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    .return-and-refunds-content p{
        font-size: .875rem;
    }
}
@media(max-width:425px){
    .return-and-refunds-content{
        width: 90%;
    }
    .return-and-refunds h3{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .return-and-refunds-content p{
        font-size: .8125rem;
    }
}