.terms-container{
    /* background: #eeecec; */
    box-sizing: border-box;
    padding: 30px 20px;
}

.terms{
    width: 70%;
    margin:  auto;
}

.terms h2{
   color: rgb(171, 87, 56);
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bolder;
}

.terms h4{
     color: rgb(207, 77, 30);
    margin-bottom: 10px;

}

.terms p{
    line-height: 2;
    margin-bottom: 10px;
}

.terms ul{
    margin-left: 35px;
    margin-bottom: 20px;
}

@media(max-width:1024px){
    .terms-container{
        padding: 10px 0px;
    }
    .terms{
        width: 85%;
        margin-bottom: 30px;
    }
    .terms p{
        line-height: 1.5;
        font-size: .875rem;
        font-weight: 350;
    }
    .terms ul{
        font-size: .875rem;
        font-weight: 350;
    }
    .terms h2{
        font-size: 1.75rem;
    }
}
@media(max-width:768px){
.terms{
        width: 95%;
        margin-bottom: 30px;
    }
    .terms p{
        line-height: 1.5;
        font-size: .8125rem;
        font-weight: 350;
    }
    .terms ul{
        font-size: .8125rem;
        font-weight: 350;
    }
    .terms h2{
        font-size: 1.75rem;
        margin-bottom: 10px;
    }
}

@media(max-width:375px){
    .terms h2{
        font-size: 1.25rem;
    }
    .terms p{
        font-size: .75rem;
    }
    .terms ul{
        font-size: .75rem;
    }
}