.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 50vh;
    margin-top: 40px;
    width: 100%;
    padding: 0 20px; /* optional, for some side margins */
}

.recent h2 {
    color: #171717;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
    align-self: flex-start;
}

.recent hr {
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background: #252525;
    align-self: flex-start;
}


/* Responsive adjustments */
@media(max-width: 1280px){
    .recent h2 {
        font-size: 40px;
    }
    .recent hr {
        width: 160px;
        height: 4px;
    }
}

@media(max-width: 1024px){
    .recent h2 {
        font-size: 30px;
    }
    .recent hr {
        width: 120px;
        height: 3px;
    }
}

@media(max-width: 800px){
    .recent {
        height: 50vh;
        gap: 8px;
    }
    .recent h2 {
        font-size: 20px;
    }
    .recent hr {
        width: 100px;
    }
}

@media(max-width: 500px){
    .recent {
        height: 90vh;
    }
}

@media(max-width: 400px){
}