.related{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 70vh;
}

.related h1{
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
    align-self: flex-start;
}

.related hr{
    width: 200px;
    height: 3px;
    border-radius: 10px;
    align-self: flex-start;
    background: #252525;
}

.related-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
   
}
.related-item .item {
     background: white;
}

@media(max-width:1280px){
     .related{
        height: 70vh;
     }

     .related h1{
        font-size: 40px;
     }
     .related hr{
        width: 160px;
        height: 4px;
     }
    .related-item{
    margin-top: 30px;
    gap: 20px;
    }

}
@media(max-width:1024px){
     .related{
        height: 60vh;
     }

     .related h1{
        font-size: 30px;
     }
     .related hr{
        width: 120px;
        height: 3px;
     }
    .related-item{
        margin-top: 20px;
        gap: 15px;
    }

}

@media(max-width:800px){
     .related{
        height: 50vh;
        gap: 8px;
     }

     .related h1{
        font-size: 20px;
     }
     .related hr{
        width: 100px;
     }
    .related-item{
        gap: 5px;
    }

}
@media(max-width:500px){
     .related{
        height: 90vh;
     }

    .related-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

}

@media(max-width:400px){
    .related-item{
        gap: 10px;
    }
}