.offers{
    display: flex;
    gap: 20px;
    background: #f8a469;
    padding: 20px;
    height: 50vh;
    justify-content: space-around;
    width: 100%;
}
.offers-left{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.offers-left h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: #521C0D;
}

.offers-left button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: white;
}
.offers-left button:hover{
    box-shadow: 1px 2px 3px #000;
}
.offers-left p{
    font-size: 1.5rem;
}
.offers-right{
  flex: 1 1;
  width: 60%;
}

@media(max-width:1024px){
    .offers{
        padding: 10px;
    }
    .offers-left{
    gap: 15px;
}
.offers-left h3{
    font-size: 2rem;
}
.offers-left p{
    font-size: 1.2rem;
}

.offers-left button{
    width: 130px;
    height: 40px;
    font-size: 1rem;
}
.offers-right{
    display: flex;
}
}
@media(max-width:800px){
  .offers-left{
    gap: 10px;
}
.offers-left h3{
    font-size: 1.7rem;
}
.offers-left p{
    font-size: .95rem;
    
}

.offers-left button{
    width: 130px;
    height: 30px;
    font-size: .95rem;
}
}
@media(max-width:500px){
.offers{
    flex-direction: column;
    gap: 15px;
    height: 60vh;
}
.offers-right{
    width: 100%;
}
}